<% content_for :head do %>
  <link rel="alternate" type="application/json" href="<%= object.doc_path(:json) %>" title="JSON" />
  <link rel="alternate" type="text/n3" href="<%= object.doc_path(:n3) %>" title="Notation 3" />
  <link rel="alternate" type="text/plain" href="<%= object.doc_path(:nt) %>" title="N-Triples" />
  <link rel="alternate" type="application/rdf+xml" href="<%= object.doc_path(:rdf) %>" title="RDF/XML" />
<% end %>

<div id="alternates">
  <h4>Alternative formats:</h4>
  <%= link_to('JSON', object.doc_path(:json)) %> |
  <%= link_to('N3', object.doc_path(:n3)) %> |
  <%= link_to('N-Triples', object.doc_path(:nt)) %> |
  <%= link_to('RDF/XML', object.doc_path(:rdf)) %>
</div>
