<% content_for :head do %>
  <% DbpediaLite::FORMATS.each do |format| %>
  <link rel="alternate" type="<%= format.content_type.first %>" href="<%= object.doc_path(format.file_extension.first) %>" title="<%= format.name %>" />
  <% end %>
<% end %>

<div id="alternates">
  <h4>Alternative formats:</h4>
  <% DbpediaLite::FORMATS.each_with_index do |format,i| %>
    <%= link_to(format.name, object.doc_path(format.file_extension.first)) %>
    <%= '|' unless i == DbpediaLite::FORMATS.count - 1 %>
  <% end %>
</div>
