<% @title = "Category - #{@category.label}" %>

<div id="header">
  <h1>Category: <%= link_to(@category.label, @category.uri) %></h1>
  <p><%= link_to(@category.uri) %></p>
</div>

<% content_for :head do %>
  <link rel="foaf:primaryTopic" href="<%= @category.uri %>" />
  <link rel="rdf:type" href="[foaf:Document]" />
<% end %>

<div id="content">
<% unless @category.subcategories.empty? %>
<h2>Subcategories</h2>
<ul>
<% @category.subcategories.each do |subcategory| %>
  <li><%= link_to(subcategory.label, subcategory.doc_path) %></li>
<% end %>
</ul>
<% end %>
<% unless @category.things.empty? %>
<h2>Members</h2>
<ul>
<% @category.things.each do |thing| %>
  <li><%= link_to(thing.label, thing.doc_path) %></li>
<% end %>
</ul>
<% end %>

</div>


<%= erb :alternatives, {}, :object => @category %>
