<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
        "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" version="XHTML+RDFa 1.0"<%= format_xmlns(@vocabularies) %>>
<head>
  <title>dbpedia lite<%= " - #{h(@title)}" unless @title.nil? %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="/css/cssreset-min.css" />
  <link type="text/css" rel="stylesheet" href="/css/dbpedialite.css" />
  <% yield_content :head %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15759799-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

<%= yield %>

<div id="footer">
  <div class="badges">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"
    ><img alt="Creative Commons License" style="border-width:0"
    src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>

    <a about="" resource="http://www.w3.org/TR/rdfa-syntax"
     rel="dc:conformsTo" xmlns:dc="http://purl.org/dc/terms/"
     href="http://validator.w3.org/check?uri=referer"><img
        src="/images/valid-xhtml-rdfa.png"
        alt="Valid XHTML + RDFa" height="31" width="88" /></a>
  </div>
  <div class="links">
    Powered by:
    <a href="http://heroku.com/">heroku</a>,
    <a href="http://www.sinatrarb.com/">Sinatra</a>,
    <a href="http://rdf.rubyforge.org/">RDF.rb</a> and
    <a href="/gems">more...</a>
  </div>
  <div class="links">
    Source code: <%= link_to('http://github.com/njh/dbpedialite') %>
  </div>
  <div class="links">
    Last commit: <%= link_to(GIT_LAST_COMMIT, 'http://github.com/njh/dbpedialite/commit/' + GIT_LAST_COMMIT) %>
  </div>
</div>

</body>
</html>
