<div id="header">
  <h1 id="title">About: <%= link_to(@article.title, @article.uri) %></h1>
  <h2><%= link_to(@article.uri) %></h2>
</div>

<% content_for :head do %>
  <link rel="foaf:primaryTopic" href="<%= @article.uri %>" />
<% end %>

<div id="content">
  <% if @article.has_coordinates? %>
    <div id="map"></div>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAArv9G1BkO0gxnWS5UwgAUcxTpFJMlrih0EInfmgkti7-ZKQDRBRTphKY0sV9v8PuRfqpo9onlsV4ZPw" type="text/javascript"></script>
    <script type="text/javascript">
    if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map"));
      map.setCenter(new GLatLng(<%= @article.latitude %>,<%= @article.longitude %>), 13);
      map.addControl(new GSmallMapControl());
    }
    </script>
  <% end %>

  <table id="description" about="<%= h @article.uri %>">
   <tr><th>Property</th><th>Value</th></tr>
   <% @article.each_statement do |s| %>
    <tr>
      <td><%= shorten(s.predicate) %></td>
      <% if s.object.uri? %>
      <td><%= link_to(s.object, s.object, :rel => shorten(s.predicate)) %></td>
      <% elsif s.object.to_s =~ /[\n\r]/ %>
      <td property="<%= shorten(s.predicate) %>"><%= nl2p(s.object.value) %></td>
      <% else %>
      <td property="<%= shorten(s.predicate) %>"><%= h(s.object.value) %></td>
      <% end %>
    </tr>
   <% end %>
  </table>

</div>

<div id="alternates">
  <h4>Alternative formats:</h4>
  <%= link_to('RDF/XML', "/things/#{@article.pageid}.rdf") %> |
  <%= link_to('N-Triples', "/things/#{@article.pageid}.nt") %> |
  <%= link_to('JSON', "/things/#{@article.pageid}.json") %>
</div>
