<% @title = @thing.displaytitle %>

<div id="header">
  <h1>About: <%= link_to(@thing.displaytitle, @thing.uri) %></h1>
  <p><%= link_to(@thing.uri) %></p>
</div>

<% content_for :head do %>
  <link rel="foaf:primaryTopic" href="<%= @thing.uri %>" />
  <link rel="rdf:type" href="[foaf:Document]" />
  <meta name="description" content="<%= h(truncate(@thing.abstract, 140)) %>" />
<% end %>

<div id="content">
  <% if @thing.has_coordinates? %>
    <div id="map"></div>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAArv9G1BkO0gxnWS5UwgAUcxTpFJMlrih0EInfmgkti7-ZKQDRBRTphKY0sV9v8PuRfqpo9onlsV4ZPw" type="text/javascript"></script>
    <script type="text/javascript">
    if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map"));
      map.setCenter(new GLatLng(<%= @thing.latitude %>,<%= @thing.longitude %>), 13);
      map.addControl(new GSmallMapControl());
    }
    </script>
  <% end %>

  <table id="description" about="<%= h @thing.uri %>">
   <tr><th>Property</th><th>Value</th></tr>
   <% @graph.query([@thing.uri, nil, nil]) do |s| %>
    <tr>
      <td><%= shorten(s.predicate) %></td>
      <% if s.object.uri? %>
      <td><%= link_to(s.object, s.object, :rel => shorten(s.predicate)) %></td>
      <% elsif s.object.to_s =~ /[\n\r]/ %>
      <td property="<%= shorten(s.predicate) %>"><%= nl2p(s.object.value) %></td>
      <% else %>
      <td property="<%= shorten(s.predicate) %>"><%= h(s.object.value) %></td>
      <% end %>
    </tr>
   <% end %>
  </table>

</div>

<%= erb :alternatives, {}, :object => @thing %>

<p id="lastmodified">
  This data was last modified at
  <span property="dc:modified"><%= format_iso8061(@thing.updated_at) %></span>.
</p>
